head
	script(src="//code.jquery.com/jquery-1.11.1.min.js")
	link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
	style
		include ./style.css
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
	script
		include script.js
		//- include nextRefresh.js
	title=title
	meta(name="description", content=`Asphalt 9 MEI Database
NEWS - ${article.title}`)
	meta(name="viewport", content=`width=device-width, initial-scale=1`)

#wrapper.animate
	nav.navbar.header-top.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
		span.navbar-toggler-icon.modal-close
		a.navbar-brand(href="/") MEI - Database
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.animate.side-nav
				li.nav-item
					a.nav-link(href="/")
						| Home
						span.sr-only(current)
					each nav in navs
						a.nav-link(href=nav.path)
							| #{nav.name}
							span.sr-only(current)
			ul.navbar-nav.ml-md-auto.d-md-flex
				li.nav-item
					a.nav-link(href="https://discord.gg/KgKMgxd" target="_blank")
						| Discord
						span.sr-only(current)
	.container-fluid
		.row
			.col
				.card
					.card-body
						h5.card-title(style={"font-size": "150%"})=article.title
						p.card-text
							each line in article.content 
								if line.startsWith("image:")
									if !is_mobile
										img(src=line.replace("image:", ""), style={
											"width": "50%",
											"height": "auto",
											"padding-bottom": "20px",
											"display": "block",
											"margin": "auto auto",
										})
									else 
										img(src=line.replace("image:", ""), style={
											"width": "98%",
											"height": "auto",
											"padding-bottom": "20px",
											"display": "block",
											"margin": "auto auto",
										})
									br
								if line.startsWith("title:")
									a(style={"margin-left": "10px", "font-size": "35px", "text-decoration": "underline"}) #[strong #{line.replace("title:", "")}]
									br
								if line.startsWith("p:")
									a(style={"margin-left": "30px"})=line.replace("p:", "")
									br