head
	script(src="//code.jquery.com/jquery-1.11.1.min.js")
	link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
	style
		include ./style.css
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
	script
		include script.js
		include compare.js
		include searchbar.js
	title=title
	meta(name="description", content=`Asphalt 9 MEI Database
Cars Comparisons`)
	meta(name="viewport", content=`width=device-width, initial-scale=1`)
	
	.overlay(id="popup_overlay")
		.popup(id="car_selc_popup")
			h5.popup-title CAR SELECTION
			p.popup-inner
				br
				input(type="text", id="searchbar", onkeyup="myFunction()", placeholder="Search for names..", style={
					"background-image": "url('/imgs/searchicon.png')",
					"background-position": "10px 12px",
					"background-repeat": "no-repeat",
					"width": "100%",
					"font-size": "16px",
					"padding": "12px 20px 12px 40px",
					"border": "1px solid #ddd",
					"margin-bottom": "12px",
				})
				br
				br
				| Class: 
				input(type="checkbox" id="class_d" name="D" onclick="checkbox("D")" checked)
				label(for="class_d") D 
				input(type="checkbox" id="class_c" name="C" onclick="checkbox("C")" checked)
				label(for="class_c") C 
				input(type="checkbox" id="class_b" name="B" onclick="checkbox("B")" checked)
				label(for="class_b") B 
				input(type="checkbox" id="class_a" name="A" onclick="checkbox("A")" checked)
				label(for="class_a") A 
				input(type="checkbox" id="class_s" name="S" onclick="checkbox("S")" checked)
				label(for="class_s") S 
				br
				br
				table.table(id="list")
					thead
						tr
						th(scope="col") #[strong CAR NAME]
						th(scope="col") #[strong CLASS]
					tbody
						each val in cars
							tr.carline(id=`${val.id}`)
								td
									| #[a(style={"font-size": "20px", "color": "white"}, title=val.id)=val.name]
								td
									| #[a(style={"font-size": "20px", "color": "white"})=val.class]
						if cars.length == 0
							tr
							th(scope="row") Weird situation...

#wrapper.animate
	nav.navbar.header-top.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
		span.navbar-toggler-icon.modal-close
		a.navbar-brand(href="/") MEI - Database
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.animate.side-nav
				li.nav-item
					a.nav-link(href="/")
						| Home
						span.sr-only(current)
					each nav in navs
						a.nav-link(href=nav.path)
							| #{nav.name}
							span.sr-only(current)
			ul.navbar-nav.ml-md-auto.d-md-flex
				li.nav-item
					a.nav-link(href="https://discord.gg/KgKMgxd" target="_blank")
						| Discord
						span.sr-only(current)
	.container-fluid
		.row
			each head in rows.heads
				.col
					.card(id=head.id, onclick="updateDiff()")
						if selected_car == head.id
							progress.car_bar(value=100)
						else 
							progress.car_bar(value=0)
						.card-body
							h5.card-title=head.title
							p.card-text
								br
								|BPs: #{head.bps}
								a(id=`diff_bp:${head.id}`, style={"float": "right"})
								br
								|Cost: #{head.cost}
								a(id=`diff_cost:${head.id}`, style={"float": "right"})
footer
	button(class="add_car", onlick="openCarSelec()") +