head
	script(src="//code.jquery.com/jquery-1.11.1.min.js")
	link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
	style
		include ./style.css
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
	script
		include script.js
		//- include nextRefresh.js
	title=title
	meta(name="description", content=`Asphalt 9 MEI Database
EVENTS DATA`)
	meta(name="viewport", content=`width=device-width, initial-scale=1`)

#wrapper.animate
	nav.navbar.header-top.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
		span.navbar-toggler-icon.modal-close
		a.navbar-brand(href="/") MEI - Database
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.animate.side-nav
				li.nav-item
					a.nav-link(href="/")
						| Home
						span.sr-only(current)
					each nav in navs
						a.nav-link(href=nav.path)
							| #{nav.name}
							span.sr-only(current)
			ul.navbar-nav.ml-md-auto.d-md-flex
				li.nav-item
					a.nav-link(href="https://discord.gg/KgKMgxd" target="_blank")
						| Discord
						span.sr-only(current)
	.container-fluid
		.row
			.col
				.card
					.card-body
						p.card-text
							| To see more statistics about an event click on its card.
		.row
			.col
				.card
					.card-body
						h5.card-title(style={"font-size": "150%"}) WINDOWS
						p.card-text
							br
						.row
							each event in events.filter(e => e.platform === "windows")
								.col
									.card(style={
										"margin-bottom": "10px",
										"border-radius": "0",
										"box-shadow": "0 3px 5px rgba(0, 0, 0, .1)",
										"background": "#5c5c5c"
									}, onclick=`location.href="/events/${event.platform}/${event.id}"`)
										.card-body
											h5.card-title=event.display_name
											p.card-text
												table(border="1", style={
													"max-width": "200px"
												})
													tbody 
														each tier in event.tiers
															tr
																td=`${tier}%`
																td(style={})=Math.floor((event.count / 100) * Number(tier))
												br
												br
												| #{event.updated_at_from_now}
		.row
			.col
				.card
					.card-body
						h5.card-title(style={"font-size": "150%"}) iOS
						p.card-text
							br
						.row
							each event in events.filter(e => e.platform === "ios")
								.col
									.card(style={
										"margin-bottom": "10px",
										"border-radius": "0",
										"box-shadow": "0 3px 5px rgba(0, 0, 0, .1)",
										"background": "#5c5c5c"
									}, onclick=`location.href="/events/${event.platform}/${event.id}"`)
										.card-body
											h5.card-title=event.display_name
											p.card-text
												table(border="1", style={
													"max-width": "200px"
												})
													tbody 
														each tier in event.tiers
															tr
																td=`${tier}%`
																td(style={})=Math.floor((event.count / 100) * Number(tier))
												br
												br
												| #{event.updated_at_from_now}
		.row
			.col
				.card
					.card-body
						h5.card-title(style={"font-size": "150%"}) ANDROID
						p.card-text
							br
						.row
							each event in events.filter(e => e.platform === "android")
								.col
									.card(style={
										"margin-bottom": "10px",
										"border-radius": "0",
										"box-shadow": "0 3px 5px rgba(0, 0, 0, .1)",
										"background": "#5c5c5c"
									}, onclick=`location.href="/events/${event.platform}/${event.id}"`)
										.card-body
											h5.card-title=event.display_name
											p.card-text
												table(border="1", style={
													"max-width": "200px"
												})
													tbody 
														each tier in event.tiers
															tr
																td=`${tier}%`
																td(style={})=Math.floor((event.count / 100) * Number(tier))
												br
												br
												| #{event.updated_at_from_now}