head
	script(src="//code.jquery.com/jquery-1.11.1.min.js")
	link#bootstrap-css(href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
	style
		include ./style.css
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
	script
		include script.js
	title=title
	meta(name="description", content=`Asphalt 9 MEI Database
${mp.name} Details`)
	meta(name="viewport", content=`width=device-width, initial-scale=1`)

#wrapper.animate
	nav.navbar.header-top.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
		span.navbar-toggler-icon.modal-close
		a.navbar-brand(href="/") MEI - Database
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarText.collapse.navbar-collapse
			ul.navbar-nav.animate.side-nav
				li.nav-item
					a.nav-link(href="/")
						| Home
						span.sr-only(current)
					each nav in navs
						a.nav-link(href=nav.path)
							| #{nav.name}
							span.sr-only(current)
			ul.navbar-nav.ml-md-auto.d-md-flex
				li.nav-item
					a.nav-link(href="https://discord.gg/KgKMgxd" target="_blank")
						| Discord
						span.sr-only(current)
	.container-fluid
		.row
			.col
				.card
					.card-body
						h5.card-title=mp.name
						p.card-text
							| #{mp.name} is an #{mp.type} who took place between #{mp.start} to #{mp.end} (#{mp.duration} days).
							br
							if mp.rules && mp.rules !== ""
								| RULES: #{mp.rules}
							else
								| RULES: It had no specials rules.
							br
							if mp.isFreeTry
								| FREE TRY: Yes
							else
								| FREE TRY: No
							br
							if mp.isMax
								| MAX TEST: Yes
							else
								| MAX TEST: No
							br
							if mp.infiniteFuels
								| INFINITE FUELS: Yes
							else
								| INFINITE FUELS: No
							br
							if mp.comments && mp.comments !== ""
								| #{mp.comments}
		.row
			.col
				.card
					.card-body
						.card-body
							h5.card-title Cars available
							table.table
								thead
									tr
									th(scope="col") #[strong #]
									th(scope="col") #[strong NAME]
								tbody
									each car, index in mp.cars
										tr
										th(scope="row")=index + 1
										td
											| #[strong #{car}]
									if mp.cars.length == 0 || mp.allCars
										tr
										th(scope="row") ALL CARS.